<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.equipation.balagat">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Balagat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".offices.main_offices"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.con_tim_production"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.con_tim_hours_work"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.main_time_sheet"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.con_liq_update_order"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.con_liq_weekly_liquidation"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.main_liquidation"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.contract_reports"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.contract_update_order"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.contract_weekly_liquidation"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.main_reports"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_complaint"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_reports"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_challenges"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_material_store"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_fuel_store"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_daily_operations"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_exclusion"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_add_equipment"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_change_location"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_condiation_equipment"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.main_camp"
            android:exported="false" />
        <activity
            android:name=".opration.constraction.camp_equipment_register"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_sub_liquidation"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_updateOrder"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_weekly_liquidation"
            android:exported="false" />
        <activity
            android:name=".opration.rental.sub_liquidation"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_updateOrder"
            android:exported="false" />
        <activity
            android:name=".opration.rental.weekly_liquidation"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_contract_location"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_contract_time"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_sub_contract"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_complaint"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_add_operator"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_machin_travel"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_machin_need"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_change_shift"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_decrease_time"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_increase_time"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_terminat_contract"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_rechange_machin"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_renew_contract"
            android:exported="false" />
        <activity
            android:name=".opration.rental.rental_time_sheet"
            android:exported="false" />
        <activity
            android:name=".deportation.order_deportation"
            android:exported="false" />
        <activity
            android:name=".out_equipment_contract.out_equipment_contract"
            android:exported="false" />
        <activity
            android:name=".folderpurchases.surplus_order"
            android:exported="false" />
        <activity
            android:name=".folderpurchases.refund_request"
            android:exported="false" />
        <activity
            android:name=".folderpurchases.purchase_order"
            android:exported="false" />
        <activity
            android:name=".opration.constraction_contract"
            android:exported="false" />
        <activity
            android:name=".opration.Production_contract"
            android:exported="false" />
        <activity
            android:name=".opration.rental_contract"
            android:exported="false" />
        <activity
            android:name=".opration.main_opration"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_complaint"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_contract_terms"
            android:exported="false" />
        <activity
            android:name=".opration.production.product_system"
            android:exported="false" />
        <activity
            android:name=".opration.production.hour_system"
            android:exported="false" />
        <activity
            android:name=".contract_time_sheet"
            android:exported="false" />
        <activity
            android:name=".home_sub2"
            android:exported="false" />
        <activity
            android:name=".home_sub1"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_add_operator"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_contract_location"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_machin_travel"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_machin_need"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_contract_time"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_change_shift"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_decrease_time"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_increase_time"
            android:exported="false" />
        <activity
            android:name=".main_contract"
            android:exported="false" />
        <activity
            android:name=".humans.delegate_request"
            android:exported="false" />
        <activity
            android:name=".humans.edit_profile_request"
            android:exported="false" />
        <activity
            android:name=".humans.moretidy_request"
            android:exported="false" />
        <activity
            android:name=".humans.incentive_request"
            android:exported="false" />
        <activity
            android:name=".humans.training_request"
            android:exported="false" />
        <activity
            android:name=".humans.complaint_request"
            android:exported="false" />
        <activity
            android:name=".humans.prose_request"
            android:exported="false" />
        <activity
            android:name=".humans.shift_request"
            android:exported="false" />
        <activity
            android:name=".humans.PPE_request"
            android:exported="false" />
        <activity
            android:name=".humans.evaluation_request"
            android:exported="false" />
        <activity
            android:name=".my_requests"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" /> <!-- stock requests -->
        <activity
            android:name=".stocks.return_bill_request"
            android:exported="false" />
        <activity
            android:name=".stocks.withdraw_bill_request"
            android:exported="false" />
        <activity
            android:name=".stocks.add_items_request"
            android:exported="false" /> <!-- human resuores requests -->
        <activity
            android:name=".humans.request_vacation"
            android:exported="false" />
        <activity
            android:name=".humans.salary_request"
            android:exported="true" />
        <activity
            android:name=".humans.borrow_request"
            android:exported="true" />
        <activity
            android:name=".humans.resignation_request"
            android:exported="true" /> <!-- contracts requests -->
        <activity
            android:name=".opration.production.production_new_contract"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_rechange_machin"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_terminat_contract"
            android:exported="false" />
        <activity
            android:name=".opration.production.production_renew_contract"
            android:exported="false" /> <!-- Maintenance requests -->
        <activity
            android:name=".maintenances.monthly"
            android:exported="false" />
        <activity
            android:name=".maintenances.malfunction_maintenace"
            android:exported="false" />
        <activity
            android:name=".maintenances.pay_parts"
            android:exported="false" />
        <activity
            android:name=".maintenances.therapeutic_maintenance_request"
            android:exported="false" />
        <activity
            android:name=".maintenances.periodic_maintenance_request"
            android:exported="false" />
        <activity
            android:name=".maintenances.asper_request"
            android:exported="false" /> <!-- main departments -->
        <activity
            android:name=".maintenances.part_maintenance"
            android:exported="false" /> <!-- 0000000000000000000000000000000000000000000000000000000000000000000 -->
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".expenses"
            android:exported="false" />
        <activity
            android:name=".purchases"
            android:exported="false" />
        <activity
            android:name=".maintenance"
            android:exported="false" />
        <activity
            android:name=".fleet"
            android:exported="false" />
        <activity
            android:name=".location"
            android:exported="false" />
        <activity
            android:name=".stock"
            android:exported="false" />
        <activity
            android:name=".time"
            android:exported="false" />
        <activity
            android:name=".contract"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".human"
            android:exported="true" />
        <activity
            android:name=".main_human"
            android:exported="true" />
    </application>

</manifest>